<div class="section about">
   <h1 class="title">about</h1>
   <p><b>Hello!</b> I'm a software developer passionate about building efficient, accessible software with tangible impact. I also hold a Bachelors in Computer Science from the University of California Irvine with a specialization in Intelligent Systems/Machine Learning.</p>
   <p>I'm currently focusing on building APIs/backend systems, compilers, and full stack applications.</p>

   <div class="links">
      <a href="https://www.github.com/chiyeon" target="__blank">Github</a>
      <a href="/resume.pdf" target="__blank">Resume</a>
      <a href="mailto:me@benjiwong.com" target="__blank">me@benjiwong.com</a>
   </div>
</div>
