<div class="splash">
   <div class="options">
      <p><b>Hello!</b> I'm Benjamin Wong, a software developer building efficient, scalable APIs and backend systems.</p>
   </div>

   <div class="hint">
      <p>projects</p>
   </div>
</div>
