<div class="section splash">
   <p>Benjamin Wong —  backend engineer focused on performance, scale, and simplicity.</p>
   <!--div class="options">
      <div class="link">about</div>
      <div class="link">projects</div>
   </div-->
</div>
